.add-member-dialog-content
  padding 20px
  max-width 580px

  .add-member-dialog-input
    height 60px

  button
    margin 0 0 0 20px

  md-switch
    margin 0px
    color $label-primary-color

.add-member-dialog-content .che-label-container .che-label-container-label
  width 150px
  min-width 150px
